.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 16px;
}

.main_search {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 12px;
}

.search {
	min-width: 296px;
}

.filter {
	min-width: 220px;
}

.table {
	margin-top: 24px;
}

.link {
	font-weight: 600;
	color: var(--primary);
	transition: 0.3s;

	&:hover {
		opacity: 0.8;
	}
}

.link {
	color: #2367ed;
	font-size: 16px;
	font-weight: 500;
	transition: 0.3s;
	user-select: none;

	&:hover {
		text-decoration: underline;
	}
}

.icon_add {
	cursor: pointer;
	color: var(--blue);
	text-decoration: underline;
}

.state_pay {
	width: 200px;
}

.name {
	width: fit-content;
	min-width: 240px;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-word;
	transition: 0.3s;
	cursor: pointer;
	white-space: wrap;

	// &:hover {
	// 	opacity: 0.8;
	// }
}

.description {
	max-width: 240px;
	user-select: none;
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	&.active {
		color: #2d74ff;
	}

	&:hover {
		color: #2d74ff;
	}
}

.main_description {
	min-width: 320px;
	border-radius: 4px;
	padding: 16px;
	background: #fff;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
	color: var(--neutrals-3);
	font-size: 14px;
	font-weight: 500;
	display: flex;
	align-items: center;
	gap: 6px;
	width: 300px;
	white-space: wrap;
}

.parameter {
	display: flex;
	align-items: center;
	gap: 24px;
	color: #777e90;
	font-size: 13px;
	font-style: normal;
	font-weight: 600;
	text-transform: uppercase;
	span {
		color: #171832;
	}
}
